<hr class="screen-reader-text">
<footer role="contentinfo">
    <ul>
        <li><a href="{{site.home.link}}" title="{{site.home.title}}">{{site.home.text}}</a></li>
        <li><a href="{{site.about.link}}" title="{{site.about.title}}">{{site.about.text}}</a></li>
        <li><a href="{{site.codepen.link}}" title="{{site.codepen.title}}">{{site.codepen.text}}</a></li>
        <li><a href="{{site.github.link}}" title="{{site.github.title}}">{{site.github.text}}</a></li>
    </ul>
    <small>
        <span> -- .- -.. . </span> &nbsp;&nbsp; <span> .-- .. - .... </span> &nbsp;&nbsp; <span> .-.. --- ...- .</span>
    </small>
    <p>&copy;<span class="screen-reader-text">Copyright</span> 2011-2022 Kiffie&nbsp;Liversage</p>
</footer>

{{#if scripts}}
{{#each scripts}}
<script src="/{{this}}"></script>
{{/each}}
{{/if}}
