<!DOCTYPE html>
<html lang="{{site.locale}}">
{{>html-head}}

<body>
    {{>header}}

    <main role="main">
        <section>

            <h1>{{title}}</h1>

            <ul>
                {{#each collections.posts}}
                    {{#startswith path ../path}}
                        {{#unless listing}}
                            <li>
                                <time datetime="{{strftime date "%F"}}">{{strftime date}}</time>
                                <div><a href="/{{path}}/">{{title}}</a></div>
                            </li>
                        {{/unless}}
                    {{/startswith}}
                {{/each}}
            </ul>

        </section>
    </main>

    {{>footer}}
</body>
</html>
